/* STUDIO */

.body {
  background-color: #ffffff;
  font-family: "Roboto" sans-serif;
  color: #2e2f42;
}

/* HEADER */
.logo-type-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  height: 1.1;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.span-studio {
  color: #2e2f42;
}
/* LINKS-HEADER */
.list {
  list-style: none;
}

.text-studio {
  font-family: "Roboto";
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  height: 1.5;
  text-decoration: underline;
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}

.text-portfolio {
  font-family: "Roboto";
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  height: 1.5;
  text-decoration: underline;
  letter-spacing: 0.02em;
}
.link:hover {
  color: #404bbf;
}

.link:focus {
  color: #404bbf;
}

.text-contacts {
  font-family: "Roboto";
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  height: 1.5;
  text-decoration: underline;
  letter-spacing: 0.02em;
}
.link :hover {
  color: #404bbf;
}

.link :focus {
  color: #404bbf;
}

/* ADRESS */
.page-adress {
  font-style: normal;
}
.list {
  list-style: none;
}
.text-mail {
  font-family: "Roboto";
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
}
.link :hover {
  color: #404bbf;
}
.text-telephone {
  color: #434455;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  height: 1.5;
  text-decoration: none;
  font-style: normal;
}
.link :hover {
  color: #404bbf;
}
/* MAIN */
/* Section-page-one */
.section-page-one {
  background-color: #2e2f42;
}
.section-title {
  font-family: "Roboto";
  color: white;
  font-weight: 700;
  font-size: 56px;
  height: 1;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  text-align: center;
}

/* button */
.button-title {
  font-family: "Roboto";
  background-color: #4d5ae5;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-title :hover {
  background-color: #404bbf;
}
.button-title :focus {
  background-color: #404bbf;
}

/* SECTION PAGE TWO */
.list {
  list-style: none;
}
.title-strategy {
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  height: 1.2;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text {
  color: #434455;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.title-punctuality {
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: #434455;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.title-diligence {
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: #434455;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.title-technologies {
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text {
  color: #434455;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* SECTION PAGE THREE */
.section-title-three {
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.imegines-list-one {
  list-style: none;
}
/* SECTIUON-PAGE-FOURE */
/* section-page-foure */
/* OurTeam */
.team-list {
  list-style: none;
}
.section-title-foure {
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-page-foure {
  background-color: #f4f4fd;
}
.img-team-card-one {
  background-color: white;
}
.img-team-card-two {
  background-color: white;
}
.img-team-card-three {
  background-color: white;
}
.img-team-card-four {
  background-color: white;
}

.list .title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.list .text {
  color: #434455;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* page-footer */
.page-footer {
  background-color: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.span-studio-footer {
  color: #f4f4fd;
}
/* PORTFOLIO */
/* HEADER */

.link {
  list-style: none;
}
/* buttons */
.button-list {
  list-style: none;
}

.button-title-all {
  background-color: #f4f4fd;
  color: #404bbf;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-title-all :hover {
  background-color: #404bbf;
  color: #252525;
}
.button-title-all :focus {
  background-color: #404bbf;
  color: #ffffff;
}
.button-title-website {
  background-color: #e7e9fc;
  color: #4d5ae5;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-title-website :hover {
  background-color: #404bbf;
  color: #252525;
}
.button-title-website :focus {
  background-color: #404bbf;
  color: #ffffff;
}
.button-title-app {
  background-color: #e7e9fc;
  color: #4d5ae5;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-title-app :hover {
  background-color: #404bbf;
  color: #252525;
}
.button-title-app :focus {
  background-color: #404bbf;
  color: #ffffff;
}

.button-title-design {
  background-color: #e7e9fc;
  color: #404bbf;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-title-design :hover {
  background-color: #404bbf;
  color: #252525;
}
.button-title-design :focus {
  background-color: #404bbf;
  color: #ffffff;
}

.button-title-marketing {
  background-color: #e7e9fc;
  color: #404bbf;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-title-marketing :hover {
  background-color: #404bbf;
  color: #252525;
}
.button-title-marketing :focus {
  background-color: #404bbf;
  color: #ffffff;
}
/* imegines(portfolio) */
.imagines-list-two {
  list-style: none;
}
.title-portfolio {
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text-portfolio {
  color: #434455;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
