/* STUDIO */
:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

body {
  font-family: var(--logo-font);
  font-family: var(--primary-font);
  background-color: var(--color-white);
  color: var(--color-slate);
}

/* HEADER */
.logo-type-web {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.span-studio {
  color: var(--color-navy-blue);
}
/* LINKS-HEADER */
.list {
  list-style: none;
}

.text-studio {
  font-family: var(--primary-font);
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
}
.link:hover {
  color: var(--color-ocean);
}
.link:focus {
  color: var(--color-ocean);
}

.text-portfolio {
  font-family: var(--primary-font);
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  letter-spacing: 0.02em;
}
.link:hover {
  color: var(--color-ocean);
}

.link:focus {
  color: var(--color-ocean);
}

.text-contacts {
  font-family: var(--primary-font);
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  letter-spacing: 0.02em;
}
.link :hover {
  color: var(--color-ocean);
}

.link :focus {
  color: var(--color-ocean);
}

/* ADRESS */
.page-adress {
  font-style: normal;
}
.list {
  list-style: none;
}
.text-mail {
  font-family: var(--primary-font);
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
}
.link :hover {
  color: var(--color-ocean);
}
.text-telephone {
  color: var(--color-slate);
  font-family: var(--preimary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  font-style: normal;
}
.link :hover {
  color: var(--color-ocean);
}
/* MAIN */
/* Section-page-one */
.section-page-one {
  background-color: var(--color-navy-blue);
}
.section-title {
  font-family: var(--primary-font);
  color: var(--color-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  text-align: center;
}

/* button */
.button-title {
  font-family: var(--primary-font);
  background-color: var(--color-iris);
  color: var(--color-white);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-title:hover {
  background-color: var(--color-ocean);
}
.button-title:focus {
  background-color: var(--color-ocean);
}

/* SECTION PAGE TWO */
.list {
  list-style: none;
}
.title {
  color: var(--color-navy-blue);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text {
  color: var(--color-slate);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* SECTION PAGE THREE */
.section-title-three {
  color: var(--color-navy-blue);
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.imegines-list-one {
  list-style: none;
}
/* SECTIUON-PAGE-FOURE */
/* section-page-foure */
/* OurTeam */
.team-list {
  list-style: none;
}
.section-title-foure {
  color: var(--color-navy-blue);
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-page-foure {
  background-color: var(--color-cloud);
}
.img-team-card-one {
  background-color: var(--color-white);
}
.img-team-card-two {
  background-color: var(--color-white);
}
.img-team-card-three {
  background-color: var(--color-white);
}
.img-team-card-four {
  background-color: var(--color-white);
}

/* page-footer */
.page-footer {
  background-color: var(--color-navy-blue);
}
.footer-text {
  color: var(--color-cloud);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.span-studio-footer {
  color: var(--color-cloud);
}
/* PORTFOLIO */
/* HEADER */

.link {
  list-style: none;
}
/* buttons */
.button-list {
  list-style: none;
}

.button-title-all {
  background-color: var(--color-cloud);
  color: var(--color-iris);
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-title-all :hover {
  color: var(--color-white);
}
.button-title-all :focus {
  color: var(--color-white);
}
.button-title-all :hover {
  background-color: var(--color-ocean);
}
.button-title-all :focus {
  background-color: var(--color-ocean);
}
.button-title-website {
  background-color: var(--color-cornflower);
  color: var(--color-iris);
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-title-website :hover {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
.button-title-website :focus {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
.button-title-app {
  background-color: var(--color-cornflower);
  color: var(--color-iris);
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-title-app :hover {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
.button-title-app :focus {
  background-color: var(--color-ocean);
  color: var(--color-white);
}

.button-title-design {
  background-color: var(--color-cornflower);
  color: var(--color-iris);
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-title-design :hover {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
.button-title-design :focus {
  background-color: var(--color-ocean);
  color: var(--color-white);
}

.button-title-marketing {
  background-color: var(--color-cornflower);
  color: var(--color-iris);
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-title-marketing :hover {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
.button-title-marketing :focus {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
/* imegines(portfolio) */
.imagines-list-two {
  list-style: none;
}
.title-portfolio {
  color: var(--color-navy-blue);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text-portfolio {
  color: var(--color-slate);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
